.AccountsPage-btn-container {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    width: 90%;
    margin: 10px auto;
}

.AccountsPage-container {
    box-sizing: border-box;
    width: 90%;
    max-width: 550px;
    margin: 0 auto 40px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.AccountsPage-message {
    text-align: center;
    font-weight: 700;
    margin-top: 10vh;
}

.AccountsPage-placeholder {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}