.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 60px;
}

.Navbar-brand {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.Navbar a {
    text-decoration: none;
    color: black;
}

.Navbar a:hover:not(.signup-btn){
    text-decoration: underline;
}

.Navbar-login-btn {
    margin-right: 10px;
}

.Navbar .Navbar-signup-btn {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin: auto;
    background-color: black;
    width: 85px;
    height: 40px;
    border-radius: 5px;
    color: white;
}

.Navbar .Navbar-signup-btn:hover {
    background-color: #3E3E3E;
}

@media (max-width: 900px){
    .Navbar-brand {
        font-size: 18px;
    }

    .Navbar .Navbar-signup-btn {
        width: 75px;
        height: 35px;
        line-height: 35px;
    }
}