.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.Navbar-brand h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.Navbar a {
    text-decoration: none;
    color: black;
}

.Navbar a:hover {
    text-decoration: underline;
}

.Navbar-login-btn {
    padding-right: 10px;
}

.Navbar-burger {
    width: 25px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 13px;
    right: 15px;
}

.Navbar-burger:hover {
    cursor: pointer;
}

.Navbar-burger:hover .Navbar-bar {
    background-color: #3E3E3E;
}

.Navbar-bar {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
}

.Navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px){
    .Navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px 5px 15px;
    }

    .Navbar.active {
        background-color: #DAD8D8;
    }

    .Navbar-burger {
        display: flex;
    }

    .Navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .Navbar-links a {
        padding: 7px 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #BFBFBF;
    }

    .Navbar-links a:last-of-type {
        border: none;
    }

    .Navbar.active .Navbar-links {
        display: flex;
    }
}

@media (min-width: 900px){
    .Navbar .Navbar-signup-btn {
        background-color: black;
        padding: 10px 15px;
        border-radius: 5px;
        color: white;
    }

    .Navbar .Navbar-signup-btn:hover {
        background-color: #3E3E3E;
    }
}