.NewAccountPage-message {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-top: 10vh;
}

.NewAccountPage-radio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.NewAccountPage-radio {
    margin-left: 15px;
}

.NewAccountForm-form-btn {
    margin: 10px 0 0 0;
    height: 40px;
    background: #000000;
    border: none;
    border-radius: 7px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.NewAccountForm-form-btn:hover {
    background-color: #3E3E3E;
    cursor: pointer;
}

.NewAccountForm-form {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}