.ChangePasswordForm-form {
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.ChangePasswordForm-field {
    height: 30px;
    padding-left: 10px;
    border: 1px solid #000000;
    border-radius: 7px;
    margin: 5px 0;
}

.ChangePasswordForm-btn {
    margin: 10px 0 0 0;
    height: 40px;
    background: #000000;
    border: none;
    border-radius: 7px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.ChangePasswordForm-btn:hover {
    background-color: #3E3E3E;
    cursor: pointer;
}