.Feature {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 160px 0 0 0;
}

.Feature:nth-of-type(2) {
    flex-direction: row-reverse;
}

.Feature .Feature-image {
    width: 90%;
    max-width: 350px;
    height: 350px;
    margin: 0 50px;
    background: #C4C4C4;
    border-radius: 10px;
}

.Feature .Feature-text {
    width: 90%;
    max-width: 350px;
    margin: 0 50px;
    text-align: center;
}

.Feature .Feature-text h3 {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 10px;
}

.Feature .Feature-text p {
    font-weight: 700;
    font-size: 18px;
    color: #7C7C7C;
}

@media (max-width: 900px){
    .Feature {
        flex-direction: column;
        margin: 80px 0 0 0;
    }

    .Feature:nth-of-type(2) {
        flex-direction: column;
    }

    .Feature .Feature-text, .Feature .Feature-image {
        margin: 0;
    }
}