.ItemList-container {
    box-sizing: border-box;
    max-width: 550px;
    width: 90%;
    margin: 0 auto 40px auto;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.ItemList-placeholder {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}