.TransactionPage-transaction {
    border-bottom: 1px solid #BFBFBF;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TransactionPage-transaction:last-of-type {
    border: none;
}

.TransactionPage-recipient, .TransactionPage-amount {
    margin-bottom: 5px;
}

.TransactionPage-date, .TransactionPage-balance {
    font-size: 14px;
    color: #575757;
}