.NewTransactionPage-radio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.NewTransactionPage-radio {
    margin-left: 15px;
}

@media (max-width:900px){
    .NewTransactionPage-radio-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}